<?xml version="1.0" encoding="utf-8"?>
<manifest xmlns:android="http://schemas.android.com/apk/res/android"
    package="com.maintel.customview">

    <application
        android:name="MyApplication"
        android:allowBackup="true"
        android:icon="@mipmap/ic_launcher"
        android:label="@string/app_name"
        android:supportsRtl="true"
        android:theme="@style/AppTheme">
        <activity android:name=".ListMainActivity">
            <intent-filter>
                <action android:name="android.intent.action.MAIN" />
                <category android:name="android.intent.category.LAUNCHER" />
            </intent-filter>
        </activity>
        <activity
            android:name=".MainActivity"
            android:label="View Test Java Main">

        </activity>

        <activity
            android:name=".TestActivity"
            android:label="View Test Kotlin Main">
            <!--<intent-filter>-->
            <!--<action android:name="android.intent.action.MAIN" />-->

            <!--<category android:name="android.intent.category.LAUNCHER" />-->
            <!--</intent-filter>-->
        </activity>
        <activity android:name=".tabTest.TabLayoutTestActivity" />
        <activity
            android:name=".textview.TextViewActivity"
            android:label="Text Click Test" />
        <activity android:name=".textview.ListActivity" />
        <activity
            android:name=".listview.ListViewTestActivity"
            android:label="ListView Test" />
    </application>

</manifest>