<?xml version="1.0" encoding="utf-8"?>
<manifest xmlns:android="http://schemas.android.com/apk/res/android"
    xmlns:tools="http://schemas.android.com/tools"
    package="maintel.commontest">


    <uses-permission android:name="android.permission.ACCESS_WIFI_STATE" />
    <uses-permission android:name="android.permission.CALL_PHONE" />
    <uses-permission
        android:name="android.permission.MOUNT_UNMOUNT_FILESYSTEMS"
        tools:ignore="ProtectedPermissions" />
    <uses-permission android:name="android.permission.VIBRATE" />
    <uses-permission android:name="android.permission.WRITE_EXTERNAL_STORAGE" />
    <uses-permission android:name="android.permission.INTERNET" />
    <uses-permission android:name="android.permission.READ_EXTERNAL_STORAGE" />
    <uses-permission android:name="android.permission.INTERNET" />

    <uses-feature
        android:name="android.hardware.camera"
        android:required="true" />
    <application
        android:name=".base.MyApplication"
        android:allowBackup="true"
        android:icon="@mipmap/ic_launcher"
        android:label="@string/app_name"
        android:supportsRtl="true"
        android:theme="@style/AppTheme">
        <activity
            android:name=".MainActivity"
            android:screenOrientation="portrait">
            <intent-filter>
                <action android:name="android.intent.action.MAIN" />

                <category android:name="android.intent.category.LAUNCHER" />
            </intent-filter>
        </activity>

        <activity
            android:name="me.iwf.photopicker.PhotoPickerActivity"
            android:theme="@style/Theme.AppCompat.NoActionBar" />

        <activity
            android:name="me.iwf.photopicker.PhotoPagerActivity"
            android:theme="@style/Theme.AppCompat.NoActionBar" />
        <activity android:name=".list.RecycleViewTest" />
        <activity android:name=".greendaotest.GreenDaoTestActivity" />
        <activity android:name=".webview.FineReportTestActivity" />
        <activity android:name=".TestActivity" />
        <activity android:name=".customView.CustomViewActivity" />
        <activity android:name=".ZipExtractor.ZipExtractorActivity" />
        <activity android:name=".thread.ThreadTestActivity" />
        <activity android:name=".rxandroid.RxAndroidActivity" />
        <activity android:name=".threadpool.ThreadPoolActivity" />
        <activity android:name=".file.FileMd5TestActivity" />
        <activity android:name=".handler.HandlerTestActivity" />
        <activity android:name=".optimize.RuanYNTestActivity" />
        <activity android:name=".dataBinding.DataBindingTestActivity" />
        <activity android:name=".gifimage.GifImageViewTestActivity" />
        <activity android:name=".gifimage.GifImageViewTest2Activity" />
        <activity android:name=".scrollView.ScrollViewTestActivity" />
        <activity android:name=".anim.AnimTestActivity" />
    </application>

</manifest>
